.header {
  width: 100%;
  height: 60px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}

.left {
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
}

.right {
  display: flex;
  align-items: center;
  gap: 16px;
}